.jumbotron{
    padding-top: 25%;
    padding-bottom: 25%;
    background :linear-gradient( rgba(13, 13, 190, 0.25), 
    rgba(25, 171, 171, 0.25))}
     .header{
        text-align: center;
        color:gray;
        }
.form-group {
    align-items: center;
    text-align: center;
    text-decoration:gray;
}

